.container {
    width: 100%!important;
    max-width: 1200px;
}
 .login_header{
 	    height: 63px;
        box-shadow: 2px 3px 10px #e4e4e4;
 }  
.red-title {
    font-size: 24px;
    color: #ca0b03;
    margin: 30px 0 25px 0;
}
.red-line{height:10px; 
	background:#ca0b03;
	width:100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.register{
	background: #f8f9fb;
    border-radius: 3px;
    display: block;
    margin-bottom: 100px;
}
.register-info{
	margin-top: 50px;
    padding-bottom: 30px;
}